In [1]:
import numpy as np
import pandas as pd
from random import randrange
from scipy.stats.stats import pearsonr
from sklearn.decomposition import PCA
from sklearn.metrics.pairwise import cosine_similarity
import math

data = pd.read_csv('../Research Project/namesR.csv', low_memory=False)
data.head()

,Unnamed: 0,user,gender,age,marriage,country,openness,conscientiousness,extraversion,agreeableness,neuroticism,item,rating,app,data,ease,type
0,0,1,0,25-30,0,india,6,3,5,3,4,1,5,5,5,5,DB
1,1,1,0,25-30,0,india,6,3,5,3,4,4,5,5,5,5,DB
2,2,1,0,25-30,0,india,6,3,5,3,4,8,4,4,4,4,DB
3,3,1,0,25-30,0,india,6,3,5,3,4,5,2,2,2,2,DB
4,4,1,0,25-30,0,india,6,3,5,3,4,6,2,2,2,2,DB

In [2]:
users = pd.Series(data.user).unique()
items = pd.Series(data.item).unique()
items = np.sort(items)
openness = []
conscientiousness = []
extraversion = []
agreeableness = []
neuroticism = []

for user in users:
    dfuser = data.loc[data['user'] == user]
    openness.append(dfuser.iloc[0]['openness'])
    conscientiousness.append(dfuser.iloc[0]['conscientiousness'])
    extraversion.append(dfuser.iloc[0]['extraversion'])
    agreeableness.append(dfuser.iloc[0]['agreeableness'])
    neuroticism.append(dfuser.iloc[0]['neuroticism'])

df_user_personality = pd.DataFrame({ 'user' : users,
                                     'openness' : openness,
                                     'conscientiousness' : conscientiousness,
                                     'extraversion' : extraversion,
                                     'agreeableness' : agreeableness,
                                     'neuroticism' : neuroticism })


df_user_personality.head()

   agreeableness  conscientiousness  extraversion  neuroticism  openness  user
0              3                  3             5            4         6     1
1              5                  6             6            4         5     2
2              4                  5             4            3         4     3
3              5                  4             3            5         5     4
4              4                  4             5            4         4     5

In [3]:
col_names =  list(data)
users = df_user_personality.index + 1
sample0 = pd.DataFrame(columns = col_names)
sample1 = pd.DataFrame(columns = col_names)
sample2 = pd.DataFrame(columns = col_names)
sample3 = pd.DataFrame(columns = col_names)
sample4 = pd.DataFrame(columns = col_names)

for user in users:
    df_user = data.loc[data['user'] == user]
    s0 = np.array_split(df_user, 5)[0]
    s1 = np.array_split(df_user, 5)[1]
    s2 = np.array_split(df_user, 5)[2]
    s3 = np.array_split(df_user, 5)[3]
    s4 = np.array_split(df_user, 5)[4]
    sample0 = pd.concat([sample0, s0])
    sample1 = pd.concat([sample1, s1])
    sample2 = pd.concat([sample2, s2])
    sample3 = pd.concat([sample3, s3])
    sample4 = pd.concat([sample4, s4])

# Pearson Correlation Coefficient

In [5]:
df_distances_PC = pd.DataFrame(data=0.000, index=users, columns=users)
df_distances_PC.head()

,1,2,3,4,5,6,7,8,9,10,...,146,147,148,149,150,151,152,153,154,155
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
for index, user1 in df_user_personality.iterrows():
    characteristicsu1 = []
    characteristicsu1.append(user1['openness'])
    characteristicsu1.append(user1['conscientiousness'])
    characteristicsu1.append(user1['extraversion'])
    characteristicsu1.append(user1['agreeableness'])
    characteristicsu1.append(user1['neuroticism'])
    
    for index2, user2 in df_user_personality.iterrows():
        characteristicsu2 = []
        characteristicsu2.append(user2['openness'])
        characteristicsu2.append(user2['conscientiousness'])
        characteristicsu2.append(user2['extraversion'])
        characteristicsu2.append(user2['agreeableness'])
        characteristicsu2.append(user2['neuroticism'])
        if(np.unique(characteristicsu2).size == 1):
            continue
        similarity_coefficient = pearsonr(characteristicsu1, characteristicsu2)
        df_distances_PC[user2['user']][user1['user']] = format(similarity_coefficient[0])
        
df_distances_PC[0:10][0:10]

,1,2,3,4,5,6,7,8,9,10,...,146,147,148,149,150,151,152,153,154,155
1,1.000000,-0.045835,-0.271163,-0.085749,0.342997,-0.813489,-0.848875,-0.140028,0.191741,-0.560112,...,-0.342997,-0.210042,0.045835,0.045835,0.303433,-0.210042,0.085749,0.429863,-0.228665,-0.729769
2,-0.045835,1.000000,0.845154,-0.801784,0.534522,-0.422577,0.000000,0.600099,-0.597614,-0.327327,...,0.133631,0.218218,0.785714,0.785714,0.669894,-0.327327,0.801784,0.669894,-0.133631,0.320767
3,-0.271163,0.845154,1.000000,-0.395285,0.000000,0.000000,0.447214,0.645497,-0.353553,0.215166,...,0.527046,0.645497,0.704295,0.704295,0.699379,-0.645497,0.790569,0.699379,0.000000,0.690066
4,-0.085749,-0.801784,-0.395285,1.000000,-0.875000,0.592927,0.353553,-0.153093,0.838525,0.748455,...,0.458333,0.408248,-0.423164,-0.423164,-0.221163,-0.102062,-0.375000,-0.405465,-0.041667,0.190941
5,0.342997,0.534522,0.000000,-0.875000,1.000000,-0.790569,-0.707107,0.102062,-0.559017,-0.952579,...,-0.583333,-0.612372,0.356348,0.356348,0.147442,0.408248,0.250000,0.147442,-0.250000,-0.490990
6,-0.813489,-0.422577,0.000000,0.592927,-0.790569,1.000000,0.894427,-0.161374,0.176777,0.860663,...,0.395285,0.322749,-0.422577,-0.422577,-0.466252,0.000000,-0.395285,-0.466252,0.395285,0.603807
7,-0.848875,0.000000,0.447214,0.353553,-0.707107,0.894427,1.000000,0.144338,0.000000,0.866025,...,0.589256,0.577350,-0.062994,-0.062994,-0.104257,-0.288675,0.000000,-0.104257,0.353553,0.848668
8,-0.140028,0.600099,0.645497,-0.153093,0.102062,-0.161374,0.144338,1.000000,0.228218,0.111111,...,0.748455,0.666667,0.945611,0.945611,0.842701,-0.166667,0.918559,0.240772,-0.748455,0.645881
9,0.191741,-0.597614,-0.353553,0.838525,-0.559017,0.176777,0.000000,0.228218,1.000000,0.456435,...,0.559017,0.456435,0.000000,0.000000,0.164845,0.000000,0.000000,-0.329690,-0.559017,0.121988
10,-0.560112,-0.327327,0.215166,0.748455,-0.952579,0.860663,0.866025,0.111111,0.456435,1.000000,...,0.725775,0.722222,-0.157602,-0.157602,-0.040129,-0.388889,-0.068041,-0.140450,0.181444,0.727544

In [68]:
df_similar_users_PC = pd.DataFrame(data=" ", index=users, columns=['User 1', 'User 2', 'User 3'])
index = 0
for user in users:
    similar_users = df_distances_PC.nlargest(4, user)[0:4][user].index.tolist()
    df_similar_users_PC['User 1'][user] = similar_users[1]
    df_similar_users_PC['User 2'][user] = similar_users[2]
    df_similar_users_PC['User 3'][user] = similar_users[3]
    index = index + 1

df_similar_users_PC[0:10]

   User 1 User 2 User 3
1      85     25     30
2      27     62    127
3     127      2     44
4      34     88     98
5      32     38     31
6       7     10    101
7       6     55     90
8      69    148    149
9      34     37    114
10     21     39     92

# Euclidean Distance with PCA

In [84]:
matrix_user_personality = df_user_personality.as_matrix(columns=['agreeableness','conscientiousness','extraversion','neuroticism','openness'])
pca = PCA()
pca.fit(matrix_user_personality)
eigenvalues_personality = np.array(pca.explained_variance_ratio_)
print(eigenvalues_personality)

principalDf = pd.DataFrame(data = pca.components_, 
                           index = ['Agreeableness','Conscientiousness','Extraversion','Neuroticism','Openness'],
                           columns = ['PC1', 'PC2', 'PC3', 'PC4', 'PC5'])
principalDf.head()

[0.50256853 0.20986729 0.13003765 0.10152835 0.05599818]

                        PC1       PC2       PC3       PC4       PC5
Agreeableness     -0.464015 -0.446336 -0.560068 -0.130358 -0.504782
Conscientiousness  0.175828  0.132884 -0.053744 -0.973407  0.031884
Extraversion       0.684201  0.250934 -0.626979  0.185807 -0.203160
Neuroticism        0.533927 -0.769177  0.314940 -0.030931 -0.152135
Openness          -0.023775 -0.358504 -0.437202 -0.002091  0.824475

In [85]:
df_distances_ED = pd.DataFrame(data=0.000, index=users, columns=users)
for index, user1 in df_user_personality.iterrows():
    characteristicsu1 = np.empty([1, 5], dtype=int)
    characteristicsu1[0][0] = user1['openness']
    characteristicsu1[0][1] = user1['conscientiousness']
    characteristicsu1[0][2] = user1['extraversion']
    characteristicsu1[0][3] = user1['agreeableness']
    characteristicsu1[0][4] = user1['neuroticism']
    
    for index2, user2 in df_user_personality.iterrows():
        characteristicsu2 = np.empty([1, 5], dtype=int)
        characteristicsu2[0][0] = user2['openness']
        characteristicsu2[0][1] = user2['conscientiousness']
        characteristicsu2[0][2] = user2['extraversion']
        characteristicsu2[0][3] = user2['agreeableness']
        characteristicsu2[0][4] = user2['neuroticism']

        difference_vector = eigenvalues_personality*(characteristicsu1 - characteristicsu2)
        similarity_coefficient = np.linalg.norm(difference_vector)
        df_distances_ED[user2['user']][user1['user']] = similarity_coefficient
        
df_distances_ED[0:10]

,1,2,3,4,5,6,7,8,9,10,...,146,147,148,149,150,151,152,153,154,155
1,0.000000,0.840902,1.103101,0.639239,1.031820,1.626625,2.121646,0.724334,0.601204,0.947138,...,0.760419,0.748295,0.810671,0.810671,0.872807,1.084698,1.092239,0.992220,1.198396,1.396679
2,0.840902,0.000000,0.614575,0.575761,0.675256,1.152405,1.659340,0.272760,0.740666,0.532917,...,0.601204,0.646689,0.582185,0.582185,1.011803,0.672014,1.056230,1.031820,0.611547,0.702264
3,1.103101,0.614575,0.000000,0.579983,0.253160,0.585718,1.078188,0.557420,0.677573,0.646555,...,1.072498,1.054745,1.145359,1.145359,1.557592,0.425603,1.641436,1.587491,0.287358,0.534658
4,0.639239,0.575761,0.579983,0.000000,0.577631,1.035014,1.551680,0.366790,0.217210,0.450993,...,0.700021,0.672014,0.889221,0.889221,1.166841,0.646689,1.315686,1.253926,0.700021,0.838301
5,1.031820,0.675256,0.253160,0.577631,0.000000,0.679891,1.152405,0.583941,0.612018,0.790764,...,1.138490,1.139511,1.172651,1.172651,1.584497,0.265867,1.683188,1.639050,0.464691,0.748295
6,1.626625,1.152405,0.585718,1.035014,0.679891,0.000000,0.540681,1.088733,1.098419,1.031820,...,1.558598,1.535246,1.682668,1.682668,2.092523,0.761984,2.166541,2.121646,0.639239,0.706709
7,2.121646,1.659340,1.078188,1.551680,1.152405,0.540681,0.000000,1.607783,1.590735,1.545285,...,2.081668,2.047954,2.190734,2.190734,2.611972,1.243601,2.681805,2.629912,1.115824,1.160555
8,0.724334,0.272760,0.557420,0.366790,0.583941,1.088733,1.607783,0.000000,0.507208,0.456920,...,0.571816,0.603538,0.622181,0.622181,1.035014,0.584595,1.124466,1.117030,0.659184,0.711828
9,0.601204,0.740666,0.677573,0.217210,0.612018,1.098419,1.590735,0.507208,0.000000,0.653263,...,0.840902,0.813890,0.994477,0.994477,1.253926,0.686774,1.424757,1.370221,0.848327,1.000825
10,0.947138,0.532917,0.646555,0.450993,0.790764,1.031820,1.545285,0.456920,0.653263,0.000000,...,0.577631,0.531063,0.857788,0.857788,1.137278,0.838120,1.224721,1.170158,0.645075,0.579983

In [86]:
df_similar_users_ED = pd.DataFrame(data=" ", index=users, columns=['User 1', 'User 2', 'User 3'])
index = 0
for user in users:
    similar_users = df_distances_ED.nlargest(4, user)[0:4][user].index.tolist()
    df_similar_users_ED['User 1'][user] = similar_users[1]
    df_similar_users_ED['User 2'][user] = similar_users[2]
    df_similar_users_ED['User 3'][user] = similar_users[3]
    index = index + 1

df_similar_users_ED[0:10]

   User 1 User 2 User 3
1     106    116      7
2     118    116     47
3     118    112    125
4     118    116     47
5     118    112    113
6     141    112    125
7     125    144    113
8     118    116     47
9     118    116      7
10    118    116     47

# Cosine Similarity

In [87]:
df_distances_CD = pd.DataFrame(data=0.000, index=users, columns=users)

for index, user1 in df_user_personality.iterrows():
    characteristicsu1 = []
    characteristicsu1.append(user1['openness'])
    characteristicsu1.append(user1['conscientiousness'])
    characteristicsu1.append(user1['extraversion'])
    characteristicsu1.append(user1['agreeableness'])
    characteristicsu1.append(user1['neuroticism'])
    
    for index2, user2 in df_user_personality.iterrows():
        characteristicsu2 = []
        characteristicsu2.append(user2['openness'])
        characteristicsu2.append(user2['conscientiousness'])
        characteristicsu2.append(user2['extraversion'])
        characteristicsu2.append(user2['agreeableness'])
        characteristicsu2.append(user2['neuroticism'])
        
        x = np.asarray(characteristicsu1).reshape(1,-1)
        y = np.asarray(characteristicsu2).reshape(1,-1)
        
        similarity_coefficient = cosine_similarity(x, y)[0]
        df_distances_CD[user2['user']][user1['user']] = format(similarity_coefficient[0])
        
df_distances_CD[0:10][0:10]

,1,2,3,4,5,6,7,8,9,10,...,146,147,148,149,150,151,152,153,154,155
1,1.000000,0.951974,0.940393,0.943900,0.967906,0.853083,0.774720,0.936586,0.951519,0.877454,...,0.920694,0.904874,0.894427,0.894427,0.955576,0.936479,0.938712,0.963540,0.916901,0.830490
2,0.951974,1.000000,0.996459,0.953407,0.992563,0.925591,0.895311,0.986901,0.947373,0.932782,...,0.970362,0.955533,0.956929,0.956929,0.984448,0.964054,0.986942,0.984448,0.952946,0.940973
3,0.940393,0.996459,1.000000,0.960754,0.983280,0.941763,0.923216,0.987935,0.951876,0.954288,...,0.982065,0.973964,0.954275,0.954275,0.985682,0.951983,0.987248,0.985682,0.955744,0.961183
4,0.943900,0.953407,0.960754,1.000000,0.964598,0.970063,0.916912,0.958514,0.992891,0.979958,...,0.978227,0.962140,0.879427,0.879427,0.946904,0.963476,0.935897,0.939142,0.950128,0.931315
5,0.967906,0.992563,0.983280,0.964598,1.000000,0.926568,0.871874,0.977318,0.959939,0.925435,...,0.959792,0.934878,0.932191,0.932191,0.970807,0.985448,0.969838,0.970807,0.957276,0.913384
6,0.853083,0.925591,0.941763,0.970063,0.926568,1.000000,0.977431,0.924467,0.942115,0.987658,...,0.956612,0.940175,0.831497,0.831497,0.893570,0.936975,0.893435,0.893570,0.952671,0.955672
7,0.774720,0.895311,0.923216,0.916912,0.871874,0.977431,1.000000,0.898568,0.882735,0.973012,...,0.937500,0.936975,0.824918,0.824918,0.868646,0.866100,0.875840,0.868646,0.913297,0.974114
8,0.936586,0.986901,0.987935,0.958514,0.977318,0.924467,0.898568,1.000000,0.966143,0.943370,...,0.988937,0.975900,0.977326,0.977326,0.991935,0.956681,0.994620,0.963594,0.910282,0.961408
9,0.951519,0.947373,0.951876,0.992891,0.959939,0.942115,0.882735,0.966143,1.000000,0.962300,...,0.979124,0.962300,0.901127,0.901127,0.956940,0.959024,0.944942,0.931535,0.913505,0.921181
10,0.877454,0.932782,0.954288,0.979958,0.925435,0.987658,0.973012,0.943370,0.962300,1.000000,...,0.979508,0.976190,0.865208,0.865208,0.926543,0.918566,0.920873,0.919628,0.938628,0.969254

In [88]:
df_similar_users_CD = pd.DataFrame(data=" ", index=users, columns=['User 1', 'User 2', 'User 3'])
index = 0
for user in users:
    similar_users = df_distances_CD.nlargest(4, user)[0:4][user].index.tolist()
    df_similar_users_CD['User 1'][user] = similar_users[1]
    df_similar_users_CD['User 2'][user] = similar_users[2]
    df_similar_users_CD['User 3'][user] = similar_users[3]
    index = index + 1

df_similar_users_CD[0:10]

   User 1 User 2 User 3
1      25     30     97
2      27     62      3
3       2     99    115
4      88     98    104
5      32     38    126
6      10    101     24
7       6    155     10
8     124    115    120
9      95     34     88
10    101     54    104

# Testing

In [29]:
    a = [[1.0 , 2.0], [3.0, 5.0], [2.0, 7.0]]
    b = [[0.0, 1.0], [2.0, 4.0], [1.0, 6.0]]
    results = []
    
    for i in range(0,3):
        if (i<2):
            d1 = ((a[i][0] - a[i+1][0])**2 + (a[i][1] - a[i+1][1])**2)**(1/2.0)
            print(a[i])
            print(d1)
            d2 = ((b[i][0] - b[i+1][0])**2 + (b[i][1] - b[i+1][1])**2)**(1/2.0)
            print(d2)
            print(b[i])
        else:
            d1 = ((a[i][0] - a[0][0])**2 + (a[i][1] - a[0][1])**2)**(1/2.0)
            print(d1)
            d2 = ((b[i][0] - b[0][0])**2 + (b[i][1] - b[0][1])**2)**(1/2.0)
            print(d2)
        if(d1 == d2):
            results.append(1)
        else:
            print(False)
    if(results.count(results[0]) == len(results)):
        print( True)

[1.0, 2.0]
3.605551275463989
3.605551275463989
[0.0, 1.0]
[3.0, 5.0]
2.23606797749979
2.23606797749979
[2.0, 4.0]
5.0990195135927845
5.0990195135927845
True
False

In [15]:
def metrics(rated_items_test, predictions, df_similar_users):

    precisionV = 0
    totalP = 0

    recallV = 0
    totalR = 0

    ndcgV = 0
    totalN = len(users)
    
    nrec = 10

    for user in users:
        
        similar_users = []
        similar_users.append(df_similar_users['User 1'][user])
        similar_users.append(df_similar_users['User 2'][user])
        similar_users.append(df_similar_users['User 3'][user])
        
        itemsP = predictions.T.nlargest(4, similar_users[0])[0:4][similar_users[0]].index.tolist() + predictions.T.nlargest(3, similar_users[2])[0:3][similar_users[1]].index.tolist() + predictions.T.nlargest(3, similar_users[2])[0:3][similar_users[2]].index.tolist()
        itemsR = rated_items_test.T.nlargest(nrec, user)[0:10][user].index.tolist()
        

        
        totalP = totalP + len(itemsR)
        
        ratingsR = rated_items_test.T.nlargest(nrec, user)[0:10][user].tolist()
        ratingsP = predictions.T.nlargest(4, similar_users[0])[0:4][similar_users[0]].tolist() + predictions.T.nlargest(3, similar_users[1])[0:3][similar_users[1]].tolist() + predictions.T.nlargest(3, similar_users[2])[0:3][similar_users[2]].tolist()
        

    
        for item in itemsR:
            if item in itemsP:
                precisionV = precisionV + 1
            if(ratingsR[itemsR.index(item)]>3):
                totalR = totalR + 1
                if(item in itemsP):
                    if(ratingsP [itemsP.index(item)]>3.5):
                        recallV = recallV+1 
        score = []
        #print(ratingsP)
        for item in itemsP:
            meanrating = np.mean(predictions[item])
            score.append(meanrating)
        #print(score)
        a = np.asfarray(score)
        b = np.sort(a)
        b = np.asfarray(b[::-1])
        #print(b)
        t =  a[0] + np.sum(a[1:] / np.log2(np.arange(2, a.size + 1)))
        t2 =  b[0] + np.sum(b[1:] / np.log2(np.arange(2, b.size + 1)))
        
        #print(t/t2)
        
        ndcgV = ndcgV + (t/t2)

    return (precisionV/totalP)*100, (recallV/totalR)*100, (ndcgV/totalN)

In [184]:
precisionPC = np.empty([1,5])
recallPC = np.empty([1,5])
ndcgPC = np.empty([1,5])
for iteration in range(5):
    print('ITERATION')
    print(iteration)
    if(iteration == 0):
        train = pd.concat([sample0, sample1, sample2, sample3])
        test = sample4
    elif(iteration == 1):
        train = pd.concat([sample1, sample2, sample3, sample4])
        test = sample0
    elif(iteration == 2):
        train = pd.concat([sample2, sample3, sample4, sample0])
        test = sample1        
    elif(iteration == 3):
        train = pd.concat([sample3, sample4, sample0, sample1])
        test = sample2
    else:
        train = pd.concat([sample4, sample0, sample1, sample2])
        test = sample3
    
    rated_items = pd.DataFrame(index=users, columns=items, dtype='float')
    rated_items_test = pd.DataFrame(index=users, columns=items, dtype='float')

    for user in users:
        df_user_rat = train.loc[train['user'] == user]
        items_rat = df_user_rat['item'].tolist()
        rating = df_user_rat['rating'].tolist()
        
        df_user_rat_t = test.loc[test['user'] == user]
        items_rat_t = df_user_rat_t['item'].tolist()
        rating_t = df_user_rat_t['rating'].tolist()
        
        i = 0
        for item in items_rat:
            rated_items.loc[user][item] = rating[i]
            i = i + 1
        i = 0
        for item in items_rat_t:
            rated_items_test.loc[user][item] = rating_t[i]
            i = i + 1
    p, r, ndcg = metrics(rated_items_test, rated_items, df_similar_users_PC)
    precisionPC[0][iteration] = p
    recallPC[0][iteration] = r
    ndcgPC[0][iteration] = ndcg
    error[0][iteration] = e
    print(p)
    print(r)
    print(ndcg)

ITERATION
0
6.68693009118541
7.142857142857142
0.9636688332783983
ITERATION
1
17.52136752136752
15.22248243559719
0.938100084743963
ITERATION
2
12.408759124087592
11.158798283261802
0.952672455503159
ITERATION
3
16.0857908847185
18.025751072961373
0.9560724077510535
ITERATION
4
13.793103448275861
18.13186813186813
0.9636905521691178

In [185]:
precisionED = np.empty([1,5])
recallED = np.empty([1,5])
ndcgED = np.empty([1,5])
for iteration in range(5):
    print('ITERATION')
    print(iteration)
    if(iteration == 0):
        train = pd.concat([sample0, sample1, sample2, sample3])
        test = sample4
    elif(iteration == 1):
        train = pd.concat([sample1, sample2, sample3, sample4])
        test = sample0
    elif(iteration == 2):
        train = pd.concat([sample2, sample3, sample4, sample0])
        test = sample1        
    elif(iteration == 3):
        train = pd.concat([sample3, sample4, sample0, sample1])
        test = sample2
    else:
        train = pd.concat([sample4, sample0, sample1, sample2])
        test = sample3
    
    rated_items = pd.DataFrame(index=users, columns=items, dtype='float')
    rated_items_test = pd.DataFrame(index=users, columns=items, dtype='float')

    for user in users:
        df_user_rat = train.loc[train['user'] == user]
        items_rat = df_user_rat['item'].tolist()
        rating = df_user_rat['rating'].tolist()
        
        df_user_rat_t = test.loc[test['user'] == user]
        items_rat_t = df_user_rat_t['item'].tolist()
        rating_t = df_user_rat_t['rating'].tolist()
        
        i = 0
        for item in items_rat:
            rated_items.loc[user][item] = rating[i]
            i = i + 1
        i = 0
        for item in items_rat_t:
            rated_items_test.loc[user][item] = rating_t[i]
            i = i + 1
    p, r, ndcg = metrics(rated_items_test, rated_items, df_similar_users_ED)
    precisionED[0][iteration] = p
    recallED[0][iteration] = r
    ndcgED[0][iteration] = ndcg
    print(p)
    print(r)
    print(ndcg)

ITERATION
0
7.29483282674772
0.0
0.9352176903466397
ITERATION
1
21.794871794871796
8.430913348946136
0.9139171449056805
ITERATION
2
12.895377128953772
7.725321888412018
0.944019874065947
ITERATION
3
13.672922252010725
16.30901287553648
0.9212475397218876
ITERATION
4
6.321839080459771
3.296703296703297
0.931855624273298

In [186]:
precisionCD = np.empty([1,5])
recallCD = np.empty([1,5])
ndcgCD = np.empty([1,5])
for iteration in range(5):
    print('ITERATION')
    print(iteration)
    if(iteration == 0):
        train = pd.concat([sample0, sample1, sample2, sample3])
        test = sample4
    elif(iteration == 1):
        train = pd.concat([sample1, sample2, sample3, sample4])
        test = sample0
    elif(iteration == 2):
        train = pd.concat([sample2, sample3, sample4, sample0])
        test = sample1        
    elif(iteration == 3):
        train = pd.concat([sample3, sample4, sample0, sample1])
        test = sample2
    else:
        train = pd.concat([sample4, sample0, sample1, sample2])
        test = sample3
    
    rated_items = pd.DataFrame(index=users, columns=items, dtype='float')
    rated_items_test = pd.DataFrame(index=users, columns=items, dtype='float')

    for user in users:
        df_user_rat = train.loc[train['user'] == user]
        items_rat = df_user_rat['item'].tolist()
        rating = df_user_rat['rating'].tolist()
        
        df_user_rat_t = test.loc[test['user'] == user]
        items_rat_t = df_user_rat_t['item'].tolist()
        rating_t = df_user_rat_t['rating'].tolist()
        
        i = 0
        for item in items_rat:
            rated_items.loc[user][item] = rating[i]
            i = i + 1
        i = 0
        for item in items_rat_t:
            rated_items_test.loc[user][item] = rating_t[i]
            i = i + 1
    p, r, ndcg = metrics(rated_items_test, rated_items, df_similar_users_CD)
    precisionCD[0][iteration] = p
    recallCD[0][iteration] = r
    ndcgCD[0][iteration] = ndcg
    print(p)
    print(r)
    print(ndcg)

ITERATION
0
5.775075987841945
7.142857142857142
0.9632363139599573
ITERATION
1
18.162393162393162
15.22248243559719
0.9362071368803595
ITERATION
2
11.435523114355231
6.008583690987124
0.95439929050506
ITERATION
3
13.404825737265416
16.738197424892704
0.9543518203117526
ITERATION
4
9.770114942528735
12.637362637362637
0.9621806898954738

# Nearest Neighbor no Personality

In [4]:
def matrix_factorization_noP(R, P, Q, K, steps=120, alpha=0.0002, beta=0.02):
    Q = Q.T
    for step in range(steps):
        for i in range(len(R)):
            for j in range(len(R[i])):
                if R[i][j] > 0:
                    eij = R[i][j] - np.dot(P[i,:],Q[:,j])
                    for k in range(K):
                        P[i][k] = P[i][k] + alpha * (2 * eij * Q[k][j] - beta * P[i][k])
                        Q[k][j] = Q[k][j] + alpha * (2 * eij * P[i][k] - beta * Q[k][j])
    return P, Q.T

In [18]:
precisionNN = np.empty([1,5])
recallNN = np.empty([1,5])
ndcgNN = np.empty([1,5])
for iteration in range(5):
    print('ITERATION')
    print(iteration)
    if(iteration == 0):
        train = pd.concat([sample0, sample1, sample2, sample3])
        test = sample4
    elif(iteration == 1):
        train = pd.concat([sample1, sample2, sample3, sample4])
        test = sample0
    elif(iteration == 2):
        train = pd.concat([sample2, sample3, sample4, sample0])
        test = sample1        
    elif(iteration == 3):
        train = pd.concat([sample3, sample4, sample0, sample1])
        test = sample2
    else:
        train = pd.concat([sample4, sample0, sample1, sample2])
        test = sample3
    
    rating_mean = train['rating'].mean()
    rated_items = pd.DataFrame(index=users, columns=items, dtype='float')

    rated_items_test = pd.DataFrame(index=users, columns=items, dtype='float')

    for user in users:
        df_user_rat = train.loc[train['user'] == user]
        items_rat = df_user_rat['item'].tolist()
        rating = df_user_rat['rating'].tolist()
        
        df_user_rat_t = test.loc[test['user'] == user]
        items_rat_t = df_user_rat_t['item'].tolist()
        rating_t = df_user_rat_t['rating'].tolist()
        i = 0
        for item in items_rat:
            rated_items.loc[user][item] = rating[i]
            i = i + 1
        i = 0
        for item in items_rat_t:
            rated_items_test.loc[user][item] = rating_t[i]
            i = i + 1

    R = np.array(rated_items.astype(float))

    N = len(R)
    M = len(R[0])
    K = 10

    P = np.random.rand(N,K)
    Q = np.random.rand(M,K)

    nP, nQ = matrix_factorization_noP(R, P, Q, K, steps = 100, alpha= 0.0001, beta= 0.002)
    
    df_similar_users_NN = pd.DataFrame(data=" ", index=users, columns=['User 1', 'User 2', 'User 3'])
    index = 0
    for user in users:
        similar_users = df_distances_NN.nlargest(3, user)[0:3][user].index.tolist()
        df_similar_users_NN['User 1'][user] = similar_users[0]
        df_similar_users_NN['User 2'][user] = similar_users[1]
        df_similar_users_NN['User 3'][user] = similar_users[2]
        index = index + 1
    
    
    p, r, ndcg = metrics(rated_items_test, rated_items, df_similar_users_NN)
    precisionCD[0][iteration] = p
    recallCD[0][iteration] = r
    ndcgCD[0][iteration] = ndcg
    print(p)
    print(r)
    print(ndcg)

ITERATION
0
8.814589665653495
3.571428571428571
0.9670291886252629
ITERATION
1
13.88888888888889
13.583138173302109
0.9393746342224195
ITERATION
2
11.435523114355231
11.158798283261802
0.9612805471567352
ITERATION
3
13.136729222520108
14.163090128755366
0.9582478694440703
ITERATION
4
8.908045977011495
10.43956043956044
0.9661464214946032

## Results

In [17]:
print('Pearson Correlation: ')
print(np.mean(precisionPC))
print(np.mean(recallPC))
print(np.mean(ndcgPC))
print()
print('Euclidean Distance with PCA: ')
print(np.mean(precisionED))
print(np.mean(recallED))
print(np.mean(ndcgED))
print()
print('Cosine Similarity: ')
print(np.mean(precisionCD))
print(np.mean(recallCD))
print(np.mean(ndcgCD))
print()
print('Nearest Neighbors: ')
print(np.mean(precisionCD))
print(np.mean(recallCD))
print(np.mean(ndcgCD))
print()

Nearest Neighbors:
11.236755373685845
10.583203119261658
0.9584157321886183